.containerUser {
  padding-top: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
.h3,
h3 {
  font-size: calc(1.3rem + -0.8vw);
  padding-left: 8%;
}
.rowUsers {
  display: flex;
  width: 30%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 3%;
  margin-top: 5%;
}

.card-text {
  padding: 1em;
  color: #fff;
  text-align: center;
  font-weight: 500;
}
a {
  text-decoration: none;
}
.buttonUser{
  background: none;
  border: none;
  width: 70%;
}
.cardUser{
  width: 33%;
}
.imgUser{
  width: 70%;
}