@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(./components/assets/img/back2.jpg);
  background-attachment: fixed;
  height: 100vh;
}

#root{

}