@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

*{
  margin: 0;
  padding: 0;
}

#root{
  background-image: url(https://i.imgur.com/VdmnzCS.jpg);
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
}

